html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
}

body {
    background-attachment: fixed;
    background-image: url('media/background4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
    font-family: 'Roboto Slab', serif;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC';
    padding: 0;
    margin: 0;
}

h1 {
    text-shadow: 0 0 10px #000;
    font-size: 6em;
}

h2 {
    font-size: 4em;
    text-shadow: 0 0 10px #000;
}

.page {
    height: 100%;
    width: 100%;
    text-align: center;
    /* padding-top: calc(20% - 100px); */
    box-sizing: border-box;
}

.page > *{
    transform: translateY(-50%);
    top: 50%;
    position: relative;
}

.card {
    background-color: rgba(241, 233, 210, 3.85);
    width: 1024px;
    margin: 0 auto;
    box-shadow: 0 0 50px 2px #000;
    padding: 40px;
    box-sizing: border-box;
    text-shadow: 0 0 7px #000;
    position: relative;
    text-shadow: none;
    overflow: auto;
    color: black;
}

.card h1 {
    color: white;
    font-family: 'Roboto Slab';
    font-size: 4em;
    margin-bottom: 30px;
}


.card .block {
    width: 300px;
    display: inline-block;
}

.big.block {
    width: 450px;
}

.card .block time {
    font-style: italic;
}

.card h2 {
    text-shadow: none;
}

header > h2 {
    margin-top: -20px;
}

nav {
    font-size: 1.5em;
    text-shadow: 0 0 5px #000;
}

nav ul {
    display: block;
}

nav ul li {
    display: inline-block;
    text-align: center;
    min-width: 200px;
    vertical-align: top;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: .15s ease;
    position: relative;
    text-shadow: -1px -1px 8px #000,
                  1px  1px 8px #000,
                 -1px  1px 8px #000,
                  1px -1px 8px #000;
}

nav ul li a:hover {
    text-shadow: 0 0 50px #000;
    font-size: 1.1em;
}

nav ul li a:before {
    content: '';
    display: block;
    position: absolute;
    background-color: currentColor;
    width: 0%;
    height: 2px;
    bottom: -1px;
    left: 50%;
    transition: .5s ease;

}

nav ul li a:hover:before {
    width: 100%;
    left: 0;
}

a.nostyle {
    text-decoration: none;
    color: initial;
    border-bottom: dashed 1px currentColor;
}

a.nostyle:hover {
    border-bottom: dotted 1px currentColor;
}

.prologue {
    display: block;
}

#hotels {
    font-size: .8em;
}

ul.nostyle {
    display: block;
    margin: 0;
    padding: 0;
}

ul.nostyle li {
    display: block;
    margin: 0;
    padding: 0;
}
